body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff; 
    transition: background-color .5s;
    margin-left: 80px;
}

.canvas {
    text-align: center;
}

.opt-btn {
    float: left;
    width: 20px;
    height: 20px;
}

.opt-lbl {
    font-style: inherit;
    font-size: 10px;
    text-align: center;
    float: left;
    width: inherit;
    padding-top: 3px;
}

.stb-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.stb-sub-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.stb-ul .stb-li {
    position: relative;
    width: 200px;
    visibility: hidden;
}

.stb-li .stb-sub-ul {
    position: absolute;
    left: 200px; /* Set 1px less than menu width */
    top: 0;
    display: none;
}

.stb-sub-ul .stb-sub-li {
    position: relative;
    width: 200px;
    height: 52.8px;
}

.stb-li .stb-sub-ul .stb-sub-li a { 
    padding: 10px 8px 8px 16px;
    text-decoration: none;
    font-size: 20px;
    float: left;
    color: #d1d1d1;
    display: block;
} 

.stb-li .stb-sub-ul .stb-sub-li a:hover {
    color: #f1f1f1;
}

.stb-li:hover .stb-sub-ul, .stb-li.over .stb-sub-ul, .stb-li:hover, .stb-li:hover .toolbtn { 
    display: block; 
    color: #f1f1f1;
    background-color: #3b95ac;
} 

.sidetoolbox {
    height: 100%;
    width: 80px;
    position: fixed;
    /*z-index、top、left共同控制侧栏的悬浮（上方1，下方-1）*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: none;
    /* overflow-x: hidden; */
}

.sidetoolbox .bg-rect {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: -1;
    background-color: #111;
    transition: 0.4s;
}
 
.sidetoolbox .toolbtn {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
 
/*侧栏标签和关闭按钮光标的效果*/
.sidetoolbox .toolbtn:hover, .offcanvas .toolbtn:focus{
    color: #f1f1f1;
}
 
/*侧栏和关闭按钮的位置选择器*/
.sidetoolbox .sidetoolbtn {
    padding: 20px 8px 8px 20px;
    width: 40px;
    display: block;
    transition: 0.3s; /*标签延迟0.3s显示*/
}

#main {
    transition: margin-left .4s;
}

.coord-table {
    border-top: 0.25px solid black;
    text-align: left;   
    margin: auto;
}

.coord-table th {
    width: 10px;
    font-size: 10px;
}

.coord-table td {
    width: 120px;
    font-size: 10px;
}
